<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<test thread-count="5" name="ChromeTest">
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<!-- <class name="com.test.LoginPageTest" />-->
			<!--  <class name="com.test.HomePageTest" /> -->
			<!--<class name="com.test.PosPageTest" />-->
			<!-- <class name="com.test.ProductPageTest" /> -->
			<!--<class name="com.test.StorePageTest" />-->
			<!-- <class name="com.test.PeoplePageTest"/>-->
			<!--  <class name="com.test.LogoutButtonTest"/>   -->
			<class name="com.test.ExpensePageTest" />
			<!--<class name="com.test.CategoryPageTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->